.screen{
    margin-left: 15%;
    margin-right: 15%;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center
    ;
}

p{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color:aliceblue ;
}

button[class = next]{
    position: center;
    margin-top: 1cm;
    
}

li{
    text-align: center;
    list-style: none;
}
label{
    text-decoration: underline;
}
input[type=button]{
    width: 50px;
    height: 20px;
}


input{
    padding: 10px;
}
table{
    border: solid;
    width: 100%;
}
tr, th, td{
    border-style: solid;
}


div[class = NPV]{
    font-size: 24px;
}
div[class = screen]{
    text-align: center;
    align-items: center;
}


/* FLOWCHART CSS STARTS HERE ................SCREEN 3*/

.level1, .level2, .level3, .level4, .level5, .level6, .level7{
    display: none;
   }

.level0:hover .level1{
  display:block;
}

.level1:hover .level2{
  display:block;
}

.level2:hover .level3{
  display:block;
}

.level3:hover .level4{
  display:block;
}

.level4:hover .level5{
  display:block;
}

.level5:hover .level6{
  display:block;
}

.level6:hover .level7{
  display:block;
}

.level7:hover .level0{
    display:block;
}

/* FLOWCHART CSS ENDS HERE ................SCREEN 3*/


